<h1>Fix Pic</h1>

<%= render 'form' %>

<%= image_tag @pic.image.url(:medium) %>

<%= link_to 'Cancel', picture_path %>
<%= link_to 'Delete', picture_path, method: :delete, data: { confirm: 'Are you sure?' } %>
